.login-form {
  border: 1px solid #ababab;
  width: 50%;
  margin-top: 130px;
  padding: 120px 0;
  border-radius: 5px;
}

.google-login button {
  margin: 18px 0;
  background: #ffffff;
  border: 1px solid #c7c7c7;
  padding: 8px 25px;
  border-radius: 25px;
}

.google-login button > img {
  padding-right: 65px;
}

.google-login button > p {
  display: inline-block;
  padding-right: 70px;
  margin: 0;
}
